<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fittogether">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".grudhome">
            <intent-filter>
                <action android:name="com.example.fittogether.grudhome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".spinahome"><intent-filter>
            <action android:name="com.example.fittogether.spinahome" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity android:name=".bichome">
            <intent-filter>
                <action android:name="com.example.fittogether.bichome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".trichome">
            <intent-filter>
                <action android:name="com.example.fittogether.trichome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".nogihome">
            <intent-filter>
                <action android:name="com.example.fittogether.nogihome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".nogigym">
            <intent-filter>
                <action android:name="com.example.fittogether.nogigym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".tricgym">
            <intent-filter>
                <action android:name="com.example.fittogether.tricgym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".bicgym">
            <intent-filter>
                <action android:name="com.example.fittogether.bicgym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".spinagym">
            <intent-filter>
                <action android:name="com.example.fittogether.spinagym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".grudgym">
            <intent-filter>
                <action android:name="com.example.fittogether.grudgym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gym">
            <intent-filter>
                <action android:name="com.example.fittogether.gym" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".home">
            <intent-filter>
                <action android:name="com.example.fittogether.home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fields.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>